amqp==5.1.1
ams-sdk==0.1.11
asgiref==3.7.2
billiard==3.6.4.0
boto3==1.23.10
botocore==1.26.10
cachetools==5.3.1
celery==5.0.0
certifi==2019.6.16
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-repl==0.3.0
cryptography==41.0.1
Django==4.0
django-appconf==1.0.5
django-cors-headers==3.10.0
django-cryptography==1.1
django-debug-toolbar==4.0.0
django-simple-history==3.0.0
django-storages==1.13.2
djangorestframework==3.13.0
docutils==0.15.2
glue==0.1.5
google-api-core==2.11.1
google-api-python-client==2.27.0
google-auth==2.20.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.1
gunicorn==19.9.0
html5lib==1.1
httplib2==0.22.0
idna==2.8
importlib-metadata==0.20
jmespath==0.9.4
kombu==5.3.1
more-itertools==7.2.0
newrelic==8.8.0
Pillow==9.5.0
prompt-toolkit==3.0.38
protobuf==4.23.3
psycopg2-binary==2.8.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycurl==7.45.2
PyJWT==2.7.0
pyparsing==3.1.0
PyPDF2==3.0.1
python-dateutil==2.6.1
python-decouple==3.1
pytz==2019.2
reportlab==3.6.6
requests==2.28.2
rsa==4.9
s3transfer==0.5.0
simplejson==3.17.5
six==1.16.0
sqlparse==0.3.0
typing_extensions==4.6.3
uritemplate==4.1.1
urllib3==1.26.15
vine==5.0.0
wcwidth==0.2.6
webencodings==0.5.1
xhtml2pdf==0.2.4
zipp==0.6.0
